body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background: url('kkk.jpg') no-repeat;
  background-size: cover;
  
}
.karim{
  justify-content: center;
  color: antiquewhite;
  
  

}
.login{
  background:transparent;
  border-radius: 12px;
  height: 310px;
  color:white;
  width:370px;
  box-shadow: 12px 4px 4px rgb(0, 0, 0);
  padding: 70px 70px 82px 50px;
  border: solid 0.4px white;
  backdrop-filter:blur(6px);
}

.login h1{
text-align: center;
font-size: 52px;
margin-top: 3px;


}
.login .input-box{
  width: 100%;
  height: 50px;
  background:transparent;
  margin:12px 0;
  border-color:white;
  

}
.input-box input{
width: 100%;
height: 100%;
background:transparent;
border: white;
outline: none;
border: 2px solid rgb(202, 200, 200);
border-radius: 40px;
box-shadow:2px black;
padding-left: 10px;
margin-top: -20px;
color: white;
}
.input-box input:hover{
  zoom: 120%;
}
.input-box input::placeholder{
 color: white;
 font-size: 13px;
 font-weight: bold;
}


.remember-forgot label input{
  accent-color: white;
  height: auto;
  width: auto;
  margin-top: 18px;
  margin-bottom: 30px;
  
  
}
.remember-forgot label input:hover{
  cursor: pointer;
}
.remember-forgot a{
  color:white;
  justify-content: space-between;
  text-decoration: none;
  justify-content:space-between;
  margin-left: 120px;
}
.remember-forgot a:hover{
  text-decoration:underline aqua;
  zoom: 106%;
  font-stretch:extra-expanded;
  color: aqua;

}
.remember-forgot.check{
justify-content: space-between;
}
.btn{
  width: 100%;
  height: 100%;
  margin-top: 15px;
  border-radius: 13px;
  background-color: rgb(11, 107, 240);
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.15s ,color 0.15s ;
  text-align: center;

}
.btn:hover{
  background-color: white;
  color:rgb(11, 107, 240) ;
  box-shadow: 4px 4px 0px black;
  zoom: 120%;
  cursor: pointer;
}
.register-link p{
  font: size 17px;
  text-align: center;
}
.register-link a{
  color: chartreuse;
  text-decoration: none;
}
.register-link a:hover{
  text-decoration: underline;
  color: aqua;
  zoom: 120%;
}



